form(name='chronoForm')
  input#chronotime(type='text' name='chronotime' value='0:00:00:00')
  input(type='button' name='startstop' value='start!' onclick='chronoStart()')
  input(type='button' name='reset' value='reset!' onclick='chronoReset()')
