extends layout

block scripts
  script(src='javascripts/messages.js')
  script(src='javascripts/chrono.js')

block content  
  .container-fluid
    .row.sticky-top
      .col-8.bg-danger
        marquee#msgUrg.h-100 urgent
      .col-4
        include includes/chrono.pug
    .row
      .col
        h1#titrePiece.text-center
    .row
      #tables.col
